    <!DOCTYPE html>
    <html>
    <head>
        <title>My Report</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <style>
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            tr:nth-child(odd) {
                background-color: #ffffff;
            }
        </style>
    </head>
    <body>

        <h1>{{ title }}</h1>
        <p>{{ content }}</p>
    <div class='container'>

    <table>
        <thead>
            <tr>
                <th>Group</th>
                <th>Monthy Total</th>
                <th>Number of Transactions</th>
                <th>Average Transaction</th>
            </tr>
        </thead>
        <tbody>

            {% for group in group_summary %}
            <tr>
            <td>{{group['parent category']}}</td>
                <td>{{group['sum']}}</td>
                <td>{{group['count']}}</td>
                <td>{{group['mean']}}</td>
            {% if parent_category_links[group['parent category']]|length > 1  %}
                <tr>
                    <thead>
                          <th>Transaction Date</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Account</th>
                    </thead>
                        <tbody>
                        {% for category in category_summary %}
                            {% if category['category'] in parent_category_links[group['parent category']] %}
                                <tr>
                                    <td>Apples{{category['date']}}</td>
                                    <td>{{category['amount']}}</td>
                                    <td>{{category['category']}}</td>
                                    <td>{{category['account']}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tbody>
            </tr>
            {% endif %}
        </tr>

            {% endfor %}
        </tbody>

</table>

    </div>
    </body>
    </html>
